<div class="row" id="dt-row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-primary" id="dt-panel">
			<div class="panel-heading" id="dt-panel-heading">{{title}}</div>

				<div class="panel-body" id="dt-panel-body">
					
					{{#if categorias }}
						<div class="text-center" style="margin-bottom:15px;">
							<span id="dt-label">Selecciona la categoría a consultar:</span>
						</div>
						{{#each categorias }}
							<a href="/categoria-dorama/{{this._id}}/informacion" type="button" class="btn btn-primary dt-button" id="dt-button">{{this.titulo}}</a>
							<hr id="dt-separador-botones">
						{{/each}}
					{{else }}
						<div class="text-center">
							<span id="dt-label">Aún no hay categorías registradas.</span>
						</div>
					{{/if}}

				</div> <!-- Fin de panel-body -->

		</div> <!-- Fin de panel -->
	</div> <!-- Fin de col-**-** -->
</div> <!-- Fin de row -->

