<div class="row" id="dt-row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-primary" id="dt-panel">
			<div class="panel-heading" id="dt-panel-heading">{{title}}</div>

				<div class="panel-body" id="dt-panel-body">

					La info de la cat va aquí... País: {{ categoriaDorama.pais }}
					


				</div> <!-- Fin de panel-body -->

		</div> <!-- Fin de panel -->
	</div> <!-- Fin de col-**-** -->
</div> <!-- Fin de row -->

