<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | DoramaTime! Version B</title>
    <!-- Bootstrap CSS CDN -->
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font-Awesome CDN-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	{{#if datePicker}}
		<!-- Bootstrap Datepicker CSS -->
		<link rel="stylesheet" type="text/css" href="/bootstrap-datepicker/css/bootstrap-datepicker.css" />
	{{/if}}
	<!-- Estilos DoramaTime Version B CSS -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="dt-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header"><a class="navbar-brand" href="/">DoramaTime! Version B</a>
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	            </button>
	        </div>
	        <div class="collapse navbar-collapse navbar-menubuilder">
	            <ul class="nav navbar-nav navbar-left">
	              <li {{#if inicioActive}}class="active"{{/if}}>
	              	<a href="/">
	              		<i class="fa fa-home" aria-hidden="true"></i>
	              		Inicio
	              	</a>
	              </li>
	              <li class="dropdown {{#if registroActive}}active{{/if}}">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			          		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			          		Registro 
			          		<span class="caret"></span>
			          	</a>
			          	<ul class="dropdown-menu">
		            		<li {{#if regCatDoramaActive}}class="active"{{/if}}>
		            			<a href="/categoria-dorama/registro">Registrar Categoría de Dorama</a>
		            		</li>
				            <li {{#if regCatPersonajeActive}}class="active"{{/if}}>
				            	<a href="/categoria-personaje/registro">Registrar Categoría de Personaje</a>
				            </li>
				            <li {{#if regActorActive}}class="active"{{/if}}>
				            	<a href="/actor/registro">Registrar Actor/Actriz</a>
				            </li>
				            <li {{#if regDoramaActive}}class="active"{{/if}}>
				            	<a href="/dorama/registro">Registrar Dorama</a>
				            </li>
				            <li {{#if regPersonajeActive}}class="active"{{/if}}>
				            	<a href="/personaje/registro">Registrar Personaje</a>
				            </li>
					         </ul>
					      </li>
					      <li class="dropdown {{#if consultaActive}}active{{/if}}">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			          		<i class="fa fa-search" aria-hidden="true"></i>
										Consulta 
										<span class="caret"></span>
									</a>
			          	<ul class="dropdown-menu">
		            		<li {{#if conCatDoramaActive}}class="active"{{/if}}>
		            			<a href="/categoria-dorama/consulta">Consultar Categoría de Dorama</a>
		            		</li>
				            <li {{#if conCatPersonajeActive}}class="active"{{/if}}>
				            	<a href="/categoria-personaje/consulta">Consultar Categoría de Personaje</a>
				            </li>
				            <li {{#if conActorActive}}class="active"{{/if}}>
				            	<a href="/actor/consulta">Consultar Actor/Actriz</a>
				            </li>
				            <li {{#if conDoramaActive}}class="active"{{/if}}>
				            	<a href="/dorama/consulta">Consultar Dorama</a>
				            </li>
				            <li {{#if conPersonajeActive}}class="active"{{/if}}>
				            	<a href="/personaje/consulta">Consultar Personaje</a>
				            </li>
					         </ul>
					      </li>
					      <li {{#if otrasConsultasActive}}class="active"{{/if}}>
					      	<a href="/api/otras-consultas">
					      		<i class="fa fa-search-plus" aria-hidden="true"></i>
					      		API
					      	</a>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	              <li {{#if acercaDeActive}}class="active"{{/if}}>
	              	<a href="/acerca-de">
	              	  Acerca De
	              	</a>
	            </ul>
	        </div>
	    </div>
	</div>

	<div class="container-fluid" style="padding-top: 50px;">
		<div class="row" id="contenedor-top"></div>
			{{{body}}}
		<div class="row" id="contenedor-bottom"></div>
	</div>

  <h6 class="col-xs-12 text-center">Resolución: 
      <div class="visible-xs">Extra-Small</div>
      <div class="visible-sm">Small</div>
      <div class="visible-md">Medium</div>
      <div class="visible-lg">Large</div>
  </h6>

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap JS CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {{#if datePicker}}
	  <!-- Bootstrap Datepicker JS -->
		<script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
		<!-- Bootstrap Datepicker Paquete Español -->
		<script src="/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" charset="utf-8"></script>
	{{/if}}
	<!-- Código jQuery/JS DoramaTime Version B -->
    <script src="/javascripts/codigo-jquery.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
