/* Estilos para el Menú NavBar */
#dt-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#dt-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(22, 184, 144, 1);
    background: -webkit-linear-gradient(top, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
    /*border-bottom: 1px solid black;*/
}
#dt-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(22, 184, 144, 1);
    background: -webkit-linear-gradient(top, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
#dt-menu.navbar-default .navbar-nav>li>a:hover,
#dt-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(190, 217, 189, 1);
    /* background-color: rgba(22, 184, 144, 1); */
    /* background: -webkit-linear-gradient(top, rgba(10, 168, 70, 1) 0%, rgba(73, 166, 109, 1) 100%); */
    /* background: linear-gradient(to bottom, rgba(10, 168, 70, 1) 0%, rgba(73, 166, 109, 1) 100%); */
}
#dt-menu.navbar-default .navbar-nav>.active>a,
#dt-menu.navbar-default .navbar-nav>.active>a:hover,
#dt-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    /* background-color: rgba(22, 184, 144, 1); */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
#dt-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}
#dt-menu.navbar-default .navbar-toggle:hover,
#dt-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#dt-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#dt-menu.navbar-default .navbar-toggle:hover .icon-bar,
#dt-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu{
  /*border: 1px solid black;*/
  border-radius: 0px;
}

#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu,
#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  background-color: rgba(22, 184, 144, 1);

}
#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: rgba(190, 217, 189, 1);
}
#dt-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
#dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
#dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
#dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: black;
  font-weight: bold;;
  background: transparent;
}


@media (max-width: 767px) {

  #dt-menu.navbar-default .navbar-nav>li>a {
    background: transparent;
  }

  #dt-menu.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  	color: rgba(0, 0, 0, 1);
  	background: transparent;
    background-color: transparent;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: all 0.2s;
  }

  #dt-menu.navbar-default .navbar-nav > li > .dropdown-menu,
  #dt-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	background-color: transparent;
  }

  #dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  #dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  #dt-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: black;
    font-weight: bold;;
  	background: transparent;
  }
}












#contenedor-top {
  margin-top: 3%;
}

#contenedor-bottom {
  margin-bottom: 3%;
}

#dt-panel, #dt-panel-heading, #dt-panel-body {
  border-radius: 0px;
}

#dt-panel {
  margin: 0 auto;
  border: none;
}

#dt-panel-heading {
  background-color: rgba(22, 184, 144, 1);
  background: -webkit-linear-gradient(top, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
  background: linear-gradient(to bottom, rgba(38, 122, 101, 1) 0%, rgba(22, 184, 144, 1) 100%);
  font-weight: bold;
  color: black;
  text-align: center;
  border: none;
}

#dt-panel-body {
  background-color: #2BA67C;
}

#dt-panel-body .form-group > label {
  font-weight: normal;
}

#dt-panel-body .form-group > input,
#dt-panel-body .form-group > textarea,
#dt-panel-body .form-group > select,
#dt-panel-body > button,
#dt-button {
  border-radius: 0px;
}

#dt-panel-body .form-group > textarea {
  resize: none;
}

#dt-button, 
#dt-button:link, 
#dt-button:visited {
  white-space: normal;
  width: 100%;
  border: none;
  background-color: #73B7A0;
  color: black;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#dt-button:hover {
  background-color: #277057;
  color: white;
}

#dt-button:active {
  background-color: black;
  color: white;
}

#dt-fecha-nacimiento,
#dt-fecha-fallecimiento,
#dt-fecha-inicio,
#dt-fecha-finalizacion {
  padding: 0px;
}

#dt-separador-botones {
  margin-top:1%;
  margin-bottom:1%;
  border-color: #2BA67C;
}

@media (min-width: 768px) {

  #dt-fecha-nacimiento,
  #dt-fecha-inicio{
    padding-left:0px;
    padding-right:1%;
  }

  #dt-fecha-fallecimiento,
  #dt-fecha-finalizacion {
    padding-left:1%;
    padding-right:0px;
  }

}



body {
  background-color: #BAF8E2;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/