<div class="row" id="dt-row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-primary" id="dt-panel">
			<div class="panel-heading" id="dt-panel-heading">{{title}}</div>

			<div class="panel-body" id="dt-panel-body">

				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					<span>Listado de Actores/Actrices según Palabra Clave</span>
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Listado de Doramas según Palabra Clave 
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Dorama del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Drama Coreano del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Drama Japonés del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Actor Coreano del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Actriz Coreana del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Actor Japonés del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Información de "Actriz Japonesa del Día"
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Listado de Dramas Coreanos según Parámetro
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Listado de Dramas Japoneses según Parámetro
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Listado de Actores/Actrices Coreanos según Parámetro
				</button>
				<hr id="dt-separador-botones">
				<button type="button" class="btn btn-primary dt-button" id="dt-button">
					Listado de Actores/Actrices Japonesas según Parámetro
				</button>

			</div> <!-- Fin de panel-body -->

		</div> <!-- Fin de panel -->
	</div> <!-- Fin de col-**-** -->
</div> <!-- Fin de row -->